@media only screen and (max-width : 100em)
    .categories
        position: relative
        margin-left: 10%
        margin-top: 75px
        width: 20%
        float: left
        &__list
            list-style-type: none
            padding-left: 0
            font-family: $overpass
            &__title
                font:
                    size: 1.05rem
                color: rgba(#000000, .7)

                text-transform: uppercase
                letter-spacing: .1rem

            li
                margin: 1vh 0
                font-size: .95rem
                color: rgba(#000000, .6)
