@media only screen and (max-width : 100em)
    .footer
        position: relative

        padding: 2.5% 0
        width: 80%
        margin: 0 auto
        
        border-top: 1px solid $gray 
        display: flex

        .opacity-visible
            opacity: 1 !important
            transition: .3s

        .backToTop
            position: fixed
            right: 2.5%
            bottom: 5%
            display: block
            color: #FFFFFF
            font-size: 2rem
            padding: .25% .5%
            color: #FFFFFF
            background-color: $green
            border-radius: 3px 3px 6px 6px
            border: 1px solid darken($green, 5%)
            border-bottom: 3px solid darken($green, 5%)
            transition: .2s
            opacity: 0
            transition: .3s
            &:hover
                background-color: darken($green, 5%)
                transition: .2s
                cursor: pointer
            &:focus
                outline: 0

        &__text
            width: 50%
            &__title
                font:
                    family: $overpass
                    size: 2.1rem
                    weight: 700
                color: rgba(#000000, 0.7)
                
            &__subtitle
                font:
                    family: $overpass
                    size: 1.3rem
                    weight: 400
                letter-spacing: .05rem
                color: rgba(#000000, 0.7)

        &__nav
            list-style-type: none
            width: 50%
            text-align: right
            margin-top: 2%

            &__element
                display: inline-block
                margin: 0 1%
                &__link
                    position: relative
                    color: rgba(#000000, 0.7)
                    font:
                        family: $overpass
                        size: 1.25rem
                    text-decoration: none
                    transition: .3s
                    &:after
                        content: ''
                        display: block
                        position: absolute
                        bottom: -10px
                        left: 0
                        width: 100%
                        height: 1px 
                        background-color: $gray
                        opacity: 0
                        transition: .3s
                    &:hover
                        color: #000000
                        transition: .3s
                        text-decoration: none
                        &:after
                            bottom: -3px
                            opacity: 1
                            transition: .3s
            