@media only screen and (max-width : 100em)
    a
        cursor: pointer
    .offers
        width: 70%
        float: right
        display: block
        margin-top: 75px
        &__amount
            font:
                family: $overpass
                size: 2rem
                weight: 300
            span
                font-weight: 700

        .offer
            border-radius: 2px
            -webkit-box-shadow: 0px 0px 3px 1px rgba(158,158,158,.1)
            -moz-box-shadow: 0px 0px 3px 1px rgba(158,158,158,.1)
            box-shadow: 0px 0px 3px 1px rgba(158,158,158,.1)
            background-color: #FFFFFF
            display: block
            width: 85%
            float: left
            margin: 1vh 0
            padding: 3vh 2%
            box-sizing: border-box
            font-family: $overpass
            &__title
                position: relative
                margin-bottom: 1vh
                font:
                    size: 2rem
                color: rgba(#000000, .9)
                text-decoration: none
                transition: .3s
                &:after
                    content: ''
                    display: block
                    position: absolute
                    bottom: -10px
                    left: 0
                    width: 100%
                    height: 1px 
                    background-color: $gray
                    opacity: 0
                    transition: .3s
                &:hover
                    color: rgba(#000000, .7)
                    transition: .3s
                    &:after
                        bottom: -3px
                        opacity: 1
                        transition: .3s

            .offerDetails
                display: flex
                flex-direction: row
                margin-top: 1.5vh
                padding-left: 0
                span
                    width: 18%
                    font-size: 1.2rem
                    color: rgba(#000000, .45)
                    i
                        margin-right: 5%
                    &:nth-child(n+2)
                        width: 12%
