$lightgray:            #F1F1F1
$gray:                 #e0e0e0
$blue:                 #2C3E50
$lightblue:            #3D5AFE


$mobile: 20em
$tablet: 48em
$smallPC: 64em
$PC: 85em




@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')
@import url('https://fonts.googleapis.com/css?family=Slabo+27px')
$slabo: 'Slabo 27px', serif
$lato: 'Lato', sans-serif