<authenticated-nav-bar></authenticated-nav-bar>
<main class="myOffers">
    <div class="offer" ng-repeat="offer in $ctrl.myOffers">
        <a ui-sref="offerDetail({offerId: offer._id})" class="offer__title">{{ offer.title }}</a>
        <div class="offerDetails">
            <span class="offer__salary">{{ offer.salaryMin }}-{{ offer.salaryMax }} zł</span> &bull;
            <span class="offer__state">{{ offer.state }}</span> &bull;
            <span class="offer__shift">{{ offer.shift }}</span>
        </div>
        <span class="offer__created_at" am-time-ago="offer.created_at"></span>
        <div class="buttons">
            <button type="button" ui-sref="auth.editOffer({id: offer._id})">Edytuj</button>
            <button type="button" ng-click="$ctrl.deleteOffer(offer._id)">Usuń</button>
        </div>
    </div>
</main>
<foot-bar></foot-bar>