<div class="categories">
    <ul class="categories__list">
        <h3 class="categories__list__title">Stanowisko</h3>
        <li>Frontend</li>
        <li>Backend</li>
        <li>Design</li>
        <li>Tester</li>
        <li>Management</li>
    </ul>
    <ul class="categories__list">
        <h3 class="categories__list__title">Wymiar pracy</h3>
        <li>Pełen etat</li>
        <li>Niepełny etat</li>
        <li>Kontrakt</li>
        <li>Freelance</li>
        <li>Staż</li>
    </ul>
    <ul class="categories__list">
        <h3 class="categories__list__title">Wielkość firmy</h3>
        <li>1-5</li>
        <li>6-10</li>
        <li>11-20</li>
        <li>21-50</li>
        <li>+50</li>
    </ul>
</div>