  <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list__element">
                <a ui-sref="index" class="nav__list__element__link">LOGO</a>
            </li>
            <li class="nav__list__element">
                <a ui-sref="register" class="nav__list__element__link">Rejestracja</a>
            </li>
            <li class="nav__list__element">
                <a ui-sref="login" class="nav__list__element__link">Logowanie</a>
            </li>
        </ul>
    </nav>