<main class="addOffer">

    <authenticated-nav-bar></authenticated-nav-bar>

    <div class="addOffer__wrapper">
        <form class="addOfferForm" ng-submit="$ctrl.addNewOffer()">
            <p class="addOfferForm__title">Dodaj ofertę</p>

            <p class="addOfferForm__subtitle">O pracy</p>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_jobTitle">Tytuł oferty<span class="addOfferForm__inputWrapper__requiredStar">*</span> <span class="addOfferForm__inputWrapper__example">np. "Regular backend developer"</span></label>
                <input type="text" id="addOffer_jobTitle" required="true" ng-model="$ctrl.newOffer_title">  
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_jobCity">Miasto<span class="addOfferForm__inputWrapper__requiredStar">*</span> <span class="addOfferForm__inputWrapper__example">np. "Wrocław"</span></label>
                <input type="text" id="addOffer_jobCity" required="true" ng-model="$ctrl.newOffer_city">  
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_jobState">Stanowisko<span class="addOfferForm__inputWrapper__requiredStar">*</span></label>
                <select id="addOffer_jobState" required="true" ng-model="$ctrl.newOffer_state">
                    <option value="Frontend">Frontend</option>
                    <option value="Backend">Backend</option>
                    <option value="Design">Design</option>
                    <option value="Tester">Tester</option>
                    <option value="Management">Management</option>
                </select>
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_jobShift">Wymiar pracy<span class="addOfferForm__inputWrapper__requiredStar">*</span></label>
                <select id="addOffer_jobShift" required="true"  ng-model="$ctrl.newOffer_shift">
                    <option value="Pełen etat">Pełen etat</option>
                    <option value="Niepełny etat">Niepełny etat</option>
                    <option value="Kontrakt">Kontrakt</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Staż">Staż</option>
                </select>
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_jobCompanySize">Ilośc pracowników<span class="addOfferForm__inputWrapper__requiredStar">*</span></label>
                <select id="addOffer_jobCompanySize" required="true" ng-model="$ctrl.newOffer_companySize">
                    <option value="1-10">1-10</option>
                    <option value="11-50">11-50</option>
                    <option value="51-100">51-100</option>
                    <option value="101-500">101-500</option>
                    <option value="501+">501+</option>
                </select>
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_jobDescription">Opis stanowiska<span class="addOfferForm__inputWrapper__requiredStar">*</span></label>
                <textarea id="addOffer_jobDescription" summernote config="$ctrl.options" required="true" ng-model="$ctrl.newOffer_description"></textarea>  
                
            </div>
            <div class="addOfferForm__inputWrapper salaryInputs">
                <div class="salaryWrapper">
                    <label for="addOffer_salaryMin">Zarobki od<span class="addOfferForm__inputWrapper__requiredStar">*</span> <span class="addOfferForm__inputWrapper__example"> w PLN</span></label>
                    <input type="number" id="addOffer_salaryMin" required="true" ng-model="$ctrl.newOffer_salaryMin">
                </div>
                <div class="salaryWrapper">
                    <label for="addOffer_salaryMax">Zarobki do<span class="addOfferForm__inputWrapper__requiredStar">*</span><span class="addOfferForm__inputWrapper__example"> w PLN</span></label>
                    <input type="number" id="addOffer_salaryMax" required="true" ng-model="$ctrl.newOffer_salaryMax">
                </div>
            </div>
            <p class="addOfferForm__subtitle">O firmie</p>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_companySite">Nazwa firmy<span class="addOfferForm__inputWrapper__requiredStar">*</span></label>
                <input type="text" id="addOffer_companySite" ng-model="$ctrl.newOffer_companyName">
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_companySite">Strona internetowa firmy</label>
                <input type="text" id="addOffer_companySite" ng-model="$ctrl.newOffer_www">
            </div>
            <div class="addOfferForm__inputWrapper">
                <label for="addOffer_companyContact">E-mail kontaktowy<span class="addOfferForm__inputWrapper__requiredStar">*</span></label>
                <input type="email" id="addOffer_companyContact" required="true" ng-model="$ctrl.newOffer_contact">
            </div>
            <div class="buttons">
                <button type="submit">Dodaj</button>
                <button type="button" ng-click="$ctrl.backToIndex()">Anuluj</button>
            </div>
        </form>
    </div>


    <foot-bar></foot-bar>
</main>
