  <nav class="nav" id="topSite">
        <button type="button" class="showMenu"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></button>
        <ul class="nav__list">
            <div class="navigation-content">
                <li class="nav__list__element">
                    <a ui-sref="auth.index" class="nav__list__element__link">GlobeCode</a>
                </li>
                <li class="nav__list__element">
                    <a ui-sref="auth.addOffer" class="nav__list__element__link">Dodaj ofertę</a>
                </li>
                <li class="nav__list__element">
                    <a ui-sref="index" class="nav__list__element__link" ng-click="$ctrl.logOut()">Wyloguj się</a>
                </li>
            </div>
        </ul>
    </nav>