  <nav class="nav" id="topSite">
        <button type="button" class="showMenu"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></button>
        <ul class="nav__list">
            <div class="navigation-content">
                <li class="nav__list__element">
                    <a ui-sref="index" class="nav__list__element__link">GlobeCode</a>
                </li>
                <li class="nav__list__element">
                    <a ui-sref="register" class="nav__list__element__link">Rejestracja</a>
                </li>
                <li class="nav__list__element">
                    <a ui-sref="login" class="nav__list__element__link">Logowanie</a>
                </li>
            </div>
        </ul>
    </nav>