<form class="searchOfferForm">
    <input type="text" placeholder="Oferty" id="offer_name" ng-model="$ctrl.searchOfferByName" value=" ">
    <input type="text" placeholder="Lokalizacja" id="offer_localization" ng-model="$ctrl.searchOfferByLocation">
    <button type="submit">Szukaj</button>
</form>
<div class="offers">
    <p class="offers__amount"><span>{{ $ctrl.offersAmount }}</span> wyszukanych ofert.</p>
    <div class="offer" ng-repeat="offer in $ctrl.data | filter: {title: $ctrl.searchOfferByName, city: $ctrl.searchOfferByLocation}">
        <a ui-sref="index" class="offer__title">{{ offer.title }}</a>
        <div class="offerDetails">
            <span class="offer__salary"><i class="fa fa-money" aria-hidden="true"></i> {{ offer.salaryMin }} - {{ offer.salaryMax }} PLN</span>
            <span class="offer__city"><i class="fa fa-globe" aria-hidden="true"></i> {{ offer.city }}</span>
            <span class="offer__state"><i class="fa fa-building" aria-hidden="true"></i> {{ offer.state }}</span>
            <span class="offer__shift"><i class="fa fa-briefcase" aria-hidden="true"></i> {{ offer.shift }}</span>
            <span class="offer__companySize"><i class="fa fa-users" aria-hidden="true"></i> {{ offer.companySize }}</span>
        </div>
    </div>
</div>

<div class="categories">
    <ul class="categories__list">
        <h3 class="categories__list__title">Stanowisko</h3>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Frontend }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-frontend" ng-model="$ctrl.Filter.state" ng-true-value="'Frontend'" ng-false-value=""><label for="check-frontend" class="label-for-check">Frontend</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Backend }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-backend"  ng-model="$ctrl.Filter.state"  ng-true-value="'Backend'" ng-false-value=""><label for="check-backend" class="label-for-check">Backend</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Design }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-design" ng-model="$ctrl.Filter.state" ng-true-value="'Design'" ng-false-value=""><label for="check-design" class="label-for-check">Design</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Tester }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-tester" ng-model="$ctrl.Filter.state" ng-true-value="'Tester'" ng-false-value=""><label for="check-tester" class="label-for-check">Tester</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Management }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-management" ng-model="$ctrl.Filter.state" ng-true-value="'Management'" ng-false-value=""><label for="check-management" class="label-for-check">Management</label></li>
    </ul>
    <ul class="categories__list">
        <h3 class="categories__list__title">Wymiar pracy</h3>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Fulltime }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-fulltime" ng-model="$ctrl.Filter.shift" ng-true-value="'Pełen etat'" ng-false-value=""><label for="check-fulltime" class="label-for-check">Pełen etat</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Parttime }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-parttime"  ng-model="$ctrl.Filter.shift" ng-true-value="'Niepełny etat'" ng-false-value=""><label for="check-parttime" class="label-for-check">Niepełny etat</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Contract }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-contract" ng-model="$ctrl.Filter.shift" ng-true-value="'Kontrakt'" ng-false-value=""><label for="check-contract" class="label-for-check">Kontrakt</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Freelance }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-freelance" ng-model="$ctrl.Filter.shift" ng-true-value="'Freelance'" ng-false-value=""><label for="check-freelance" class="label-for-check">Freelance</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.Practice }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-pratice" ng-model="$ctrl.Filter.shift" ng-true-value="'Staż'" ng-false-value=""><label for="check-pratice" class="label-for-check">Staż</label></li>
    </ul>
    <ul class="categories__list">
        <h3 class="categories__list__title">Ilośc pracowników</h3>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.cs110 }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-1-10" ng-model="$ctrl.Filter.companySize" ng-true-value="'1-10'" ng-false-value=""><label for="check-1-10" class="label-for-check">1-10</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.cs1150 }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-11-50" ng-model="$ctrl.Filter.companySize" ng-true-value="'11-50'" ng-false-value=""><label for="check-11-50" class="label-for-check">11-50</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.cs51100 }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-51-100" ng-model="$ctrl.Filter.companySize" ng-true-value="'51-100'" ng-false-value=""><label for="check-51-100" class="label-for-check">51-100</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.cs101500 }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-101-500" ng-model="$ctrl.Filter.companySize" ng-true-value="'101-500'" ng-false-value=""><label for="check-101-500" class="label-for-check">101-500</label></li>
        <li><span class="categories__list__categoryAmount">{{ $ctrl.amounts.cs501 }}</span><input type="checkbox" name="checkbox" value="value" class="check-with-label" id="check-501plus" ng-model="$ctrl.Filter.companySize" ng-true-value="'501+'" ng-false-value=""><label for="check-501plus" class="label-for-check">501+</label></li>
    </ul>
</div>