    <span ng-if="$ctrl.isTokenExpired">
        <nav-bar></nav-bar>
    </span>
    <span ng-if="!$ctrl.isTokenExpired">
        <authenticated-nav-bar></authenticated-nav-bar>
    </span>
    
    <main class="offerDetailsPage">
        <div class="contactDetails">
            <p class="contactDetails__firmname">{{ $ctrl.details.companyName }}</p>
            <hr>
            <a href="{{ $ctrl.details.www }}">Strona internetowa</a>
            <hr>
            <a href="mailto:{{ $ctrl.details.contact }}">Kontakt: {{ $ctrl.details.contact }}</a>
            <hr>
        </div>
        <div class="jobDetails">
            <p class="jobDetails__title">{{ $ctrl.details.title }}</p>
            <div class="jobDetails__detailsWrapper">
                <div class="jobDetails__detailsWrapper__detail">
                    <i class="fa fa-usd" aria-hidden="true"></i> {{ $ctrl.details.salaryMin }} - {{ $ctrl.details.salaryMax }} zł
                </div>
                <div class="jobDetails__detailsWrapper__detail">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ $ctrl.details.city }} 
                </div>
                <div class="jobDetails__detailsWrapper__detail">
                    <i class="fa fa-building" aria-hidden="true"></i> {{ $ctrl.details.shift }} 
                </div>
                <div class="jobDetails__detailsWrapper__detail">
                    <i class="fa fa-users" aria-hidden="true"></i> {{ $ctrl.details.companySize }} 
                </div>
            </div>
            <div class="jobDetails__jobDescription">
                <p ng-bind-html="$ctrl.jobDescriptionEscaped()"></p>
            </div>
        </div>
    </main>
    <foot-bar></foot-bar>
