@import "./components/__utils"
@import "./components/__nav"
@import "./components/__footer"

body
    font-size: 62.5%
    background-color: $lightgray


@media only screen and (max-width : 100em)
    .index
        height: 100%
        background-color: $lightgray
     